@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
#starCanvas {position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100vh; pointer-events: none; opacity: 0; transition: opacity 0.5s ease;}
#starCanvas.active {opacity: 1;}

body {background: #0D0D0D; color: #fff; font-family: 'Pretendard';}
.wrap {position: relative; margin: 0 auto; letter-spacing: -2%; overflow: hidden;}
.en {font-family: "PP Editorial New Ultralight";}


.inner {width: calc(100% - 340px); margin: 0 auto; overflow: hidden;}
.black-section {background: #0D0D0D; height: 100vh;}


header {position: fixed;  width: 100%; transition: all 0.5s; z-index: 1000;}
header.hide {transform: translateY(-100%);}
header.show {transform: translateY(0);}

header .header-box {width: 28%; float: right; margin-top: 10px; padding: 15px; box-sizing: border-box; display: flex; justify-content: center; gap: 10px; background: rgba(221, 221, 221, 0.5); border-radius: 50px;}
header .header-box a{padding: 5px; font-size: 18px; color: #0D0D0D;}

/* header 스플리팅 */
.header-box a .char {display: inline-block; position: relative; color: transparent; overflow: hidden;}
.header-box a .char:before,
.header-box a .char:after {content: attr(data-char); position: absolute; color: #0D0D0D; top: 0; left: 0; opacity: 0.6; transition: transform 0.35s; transition-delay: calc(30ms * var(--char-index));}
.header-box a .char:before {transform: translateY(100%);}
.header-box a:hover .char:before {transform: translateY(0); opacity: 1;}
.header-box a:hover .char:after {transform: translateY(-100%);}



.intro { width: 100%; height: 100vh; background: #fff; }
.intro .inner { margin-top: auto; display: flex; justify-content: center; align-items: center;
flex-direction: column; padding-top: 50px;}
  /* margin-top: auto를 준 자식 요소는 남는 공간을 위로 밀어내서 아래쪽에 위치하게 돼. */
.intro .intro-title span {display: block; text-align: center; font-size: 50px; color: #0D0D0D; line-height: 1.2;}
.intro .intro-title span.en {font-size: 60px; font-family: "PP Editorial New";}

/* 이미지 스택 */
.stack {position: relative; width: 350px; height: 400px;}

.stack img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; border-radius: 20px; transition: all 0.8s ease; opacity: 0;}
.stack img:nth-child(1) {z-index: 1; transform: translate(-50%, -50%) rotate(-10deg) translateY(200px); transition-delay: 0.3s;}
.stack img:nth-child(2) {z-index: 2; transform: translate(-50%, -50%) rotate(10deg) translateY(500px); transition-delay: 0.5s;}
.stack img:nth-child(3) {z-index: 3; transform: translate(-50%, -50%) rotate(0deg) translateY(700px); transition-delay: 0.7s;}
.stack img.motion:nth-child(1) {transform: translate(-50%, -50%) rotate(-10deg) translateY(0px); opacity: 1; transition-delay: 0.3s;}
.stack img.motion:nth-child(2) {transform: translate(-50%, -50%) rotate(10deg) translateY(0px); opacity: 1; transition-delay: 0.5s;}
.stack img.motion:nth-child(3) {transform: translate(-50%, -50%) rotate(0deg) translateY(0px); opacity: 1; transition-delay: 0.7s;}

/* intro 스플리팅 */
.intro .intro-text {color: #0D0D0D; font-size: 300px; text-align: center;}
.intro-text .char {display: inline-block; position: relative; color: transparent; overflow: hidden;}
.intro-text .char::before, .intro-text .char::after {content: attr(data-char); position: absolute; top: 0; left: 0; color: #0D0D0D; transition: transform 0.5s ease, opacity 0.35s ease; transition-delay: calc(30ms * var(--char-index));}
.intro-text .char::before {transform: translateY(100%); opacity: 0;}
.intro-text .char::after {transform: translateY(0); opacity: 1;}
.intro-text.active .char::before {transform: translateY(0); opacity: 1;}
.intro-text.active .char::after {transform: translateY(-100%); opacity: 0;}


/* video-section */
.myvideo {width: 100%; height: 100vh; position: relative; background: #fff;}
.myvideo .videoWrap {overflow: hidden;}
.myvideo .videoWrap video {width: 100%; height: 100vh; object-fit: cover; position: absolute; left: 0; top: 0; filter: brightness(80%);}
.myvideo .videoWrap .title {position: absolute; width: 100%; text-align: center; left: 0; top: 50%; transform: translateY(-50%); color: #fff;}
.myvideo .videoWrap .title h2 {font-size: 100px; font-weight: 400; line-height: 1.2; letter-spacing: -1px;}


/* overview */
.overview {width: 100%; height: 100vh; background: #FFF; padding: 60px 0; display: flex; align-items: center;}
.overview .inner {width: 70%; display: flex; justify-content: space-between; align-items: center; gap: 60px;}
.overview-img {width: 600px; height: auto; border-radius: 30px; overflow: hidden;}
.overview-img img {width: 100%; height: 100%;}

.overview-text { width: 30%; display: flex; flex-direction: column; gap: 45px;}
.overview-text .title {color: #0D0D0D; font-size: 20px; line-height: 1.8;}
.overview-text .title span {font-size: 30px; font-weight: 500; display: inline-block; margin-top: 10px;}

.overview-text .information {display: flex; flex-direction: column; gap: 30px;}
.overview-text .information > li {display: flex; justify-content: flex-start; gap: 40px; align-items: flex-start; color: #0D0D0D;}

.information .information-tit {min-width: 80px; font-size: 18px; font-weight: 500; white-space: nowrap;}
.information .information-sub {padding-left: 20px; border-left: 1px solid #ccc;}
.information .information-sub li {margin-bottom: 8px; font-size: 15px; line-height: 1.5;}

.information .skill-info {display: block !important;}
.skill-info .information-tit {margin-bottom: 20px;}
.skill-info .skill-icons {display: flex; gap: 12px;}
.skill-info .skill-icons .img {width: 50px; height: 50px; border-radius: 10px; overflow: hidden;}
.skill-info .skill-icons .img img {width: 100%; height: 100%;}


.svgAni {
  width: 700px; height: 700px;
  margin: 100px auto;
  display: block;
}
path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}

/* 초기 스타일 + 애니메이션 */
#svgAni000 {
  stroke-dasharray: 228;
  stroke-dashoffset: 228;
  animation: ani0 .2s linear 0s forwards;
}
#svgAni001 {
  stroke-dasharray: 206;
  stroke-dashoffset: 206;
  animation: ani1 .5s linear 0s forwards;
}
#svgAni002 {
  stroke-dasharray: 393;
  stroke-dashoffset: 393;
  animation: ani2 .2s linear 0.5s forwards;
}
#svgAni003 {
  stroke-dasharray: 12;
  stroke-dashoffset: 12;
  animation: ani3 .2s linear 0.8s forwards;
}
#svgAni004 {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: ani4 .2s linear 1s forwards;
}


@keyframes ani0 {
  0% {stroke-dashoffset: 228;}
  100% {stroke-dashoffset: 0;}
}
@keyframes ani1 {
  0% {stroke-dashoffset: 206;}
  100% {stroke-dashoffset: 0;}
}
@keyframes ani2 {
  0% {stroke-dashoffset: 393;}
  100% {stroke-dashoffset: 0;}
}

@keyframes ani3 {
  0% {stroke-dashoffset: 12;}
  100% {stroke-dashoffset: 0;}
}
@keyframes ani4 {
  0% {stroke-dashoffset: 171;}
  100% {stroke-dashoffset: 0;}
}



/* strength */
.strength-section { display: flex; position: relative; height: 100vh; width: 100vw; overflow: hidden; background: #2F71DF;}
.strength-left { background: #fff; color: #0D0D0D; width: 100vw; height: 100%; display: flex; flex-direction: column; gap: 20px; justify-content: center; align-items: center; z-index: 2; transition: opacity 0.3s ease; text-align: left;}
.strength-left p { font-size: 150px; font-weight: 900; color: #2F71DF;}
.strength-left span { font-size: 18px; color: #0D0D0D; font-weight: 500; padding-right: 320px;}

.strength-right { position: absolute; top: 0; right: 3%; width: 40vw; height: 90%; background: #2F71DF; display: flex; justify-content: center; align-items: center; z-index: 1; }
.strength-texts { position: relative; width: 100%;}
.strength-text { position: absolute; width: 100%; top: 30%; left: 32%; transform: translate(0%, 50px); color: #fff; opacity: 0; z-index: 5; }
.strength-text p { font-size: 80px; margin-bottom: 20px; letter-spacing: -3px;}
.strength-text span { font-size: 18px; color: #fff; }
.strength-text:first-child { opacity: 0; transform: translate(0%, 0); }

/* hobby-section*/
.hobby {position: relative; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;}
.hobby .section-title {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 2;}
.hobby .section-title h2 {font-size: 60px; margin-bottom: 20px;}
.hobby .section-title span {font-size: 20px; color: #fff; line-height: 1.4;}

.hobby-images {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.hobby-img {position: absolute; top: 0; left: 0; width: 200px; height: 200px; overflow: hidden; object-fit: cover; border-radius: 12px; opacity: 0;}
.hobby-img img {width: 100%; height: 100%;}



/* skill-section */
.skill-section {position: relative; width: 100%; height: 150vh;}
.skill-section .section-title {position: absolute; left: 50%; top: 30%; transform: translate(-50%, -30%); text-align: center; z-index: 2;}
.skill-section .section-title h2 {font-size: 60px; margin-bottom: 20px;}
.skill-section .section-title span {font-size: 20px; color: #fff; line-height: 1.4;}
.skill-grid {position: absolute; overflow: hidden; gap: 3px; width: 100%; bottom: 0;}
.skill-grid .grid {width: 105%; display: flex; gap: 3px; margin-bottom: 3px;}
.skill-grid .middle-box {transform: translateX(100px);}
.box {position: relative; font-size: 40px; flex: 1; background: #0D0D0D; color: #FFF; padding: 100px 0; text-align: center; border: 2px solid rgba(255, 255, 255, 0.02); box-sizing: border-box;}
.box-info {position: absolute; width: 80%; height: auto; display: flex; flex-direction: column; gap: 5px;}
.box-info p {font-weight: 600; text-align: left; margin-bottom: 20px;}
.box-info .count-num {color: #2F71DF; font-size: 60px;}
.box-info span {color: #2F71DF;}
.box-info .box-text {font-size: 16px; font-weight: normal; text-align: left; color: #8B8B8B;}
.box-info.top {left: 50%; top: 10%; transform: translate(-50%, -10%);}
.box-info.bottom {left: 50%; bottom: 0%; transform: translate(-50%, 0%);}

.cursor-glow {position: absolute; width: 150px; height: 150px; border-radius: 50%; pointer-events: none; z-index: -1; transform: translate(-50%, -50%); opacity: 0; transition: opacity 0.2s ease, transform 0.05s linear; 
background: radial-gradient(circle, #2F71DF 100%, transparent 70%); 
background-repeat: no-repeat; 
box-shadow: 
0 0 10px #2F71DF, 
0 0 20px #2F71DF, 
0 0 40px #2F71DF, 
0 0 80px #2F71DF; 
filter: blur(1px) brightness(1.5) drop-shadow(0 0 6px #2F71DF) drop-shadow(0 0 12px #2F71DF) drop-shadow(0 0 24px #2F71DF) drop-shadow(0 0 50px #2F71DF);}


/* marquee */

.marquee-intro {
  height: 50vh;

  position: relative;
}

.marquee-track {
  position: absolute;
  display: flex;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;
}


.intro-text2 {
  font-size: 8vw;
  font-weight: bold;
  color: #7EFFB2;
  margin-right: 100px;
}

.marquee-trigger {
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
